<div id="daily_tasks-column" class="dashboard-column daily-tasks-column">
  <div class="section-container">
    <h2>T채gliche Aufgaben</h2>
    <button type="button" class="btn-style open-modal" data-target="newDailyTaskModal">Neue t채gliche Aufgabe hinzuf체gen</button>
    <ul>
      <% @daily_tasks.each do |task| %>
        <li class="task-item" data-id="<%= task.id %>">
          <input type="checkbox" class="task-checkbox" <% if task.status == 'closed' %> checked <% end %> >
          <div class="task-content">
            <strong><%= task.subject %></strong>
            <p><%= task.description %></p>
            <p><em>F채llig am: <%= task.due_date %></em></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
