<!-- plugins/x0s37h0x_Gamification/app/views/users/_custom_fields.html.erb -->
<div class="custom-user-fields">
  <p><strong>Leben:</strong> <%= @user.leben %></p>
  <p><strong>Erfahrungspunkte (EXP):</strong> <%= @user.exp %></p>
  <p><strong>Mana:</strong> <%= @user.mana %></p>
  <p><strong>Level:</strong> <%= @user.level %></p>
</div>