<fieldset>
  <legend>Komplexit채t Einstellungen</legend>

  <p>
    <label for="plugin_x0s37h0x_Gamification_exp_values_low">Erfahrungspunkte f체r 'leicht':</label>
    <%= text_field_tag 'settings[plugin_x0s37h0x_Gamification][exp_values][low]', Setting.plugin_x0s37h0x_Gamification['exp_values']['low'], size: 5 %>
  </p>

  <p>
    <label for="plugin_x0s37h0x_Gamification_exp_values_medium">Erfahrungspunkte f체r 'mittel':</label>
    <%= text_field_tag 'settings[plugin_x0s37h0x_Gamification][exp_values][medium]', Setting.plugin_x0s37h0x_Gamification['exp_values']['medium'], size: 5 %>
  </p>

  <p>
    <label for="plugin_x0s37h0x_Gamification_exp_values_high">Erfahrungspunkte f체r 'schwer':</label>
    <%= text_field_tag 'settings[plugin_x0s37h0x_Gamification][exp_values][high]', Setting.plugin_x0s37h0x_Gamification['exp_values']['high'], size: 5 %>
  </p>
</fieldset>
